check_every_n_days: 1
directories:
  - "C:/example.pdf"
  - "D:/Files/example.mp3"
smtp_settings:
  from_email: "sender@example.com"
  to_email: "recipient@example.com"
  smtp_server: "smtp.example.com"
  smtp_port: 587
  username: "user@example.com"
  password: "password123"